---
import BaseLayout from './BaseLayout.astro';
import Hero from "../components/hero/HeroProjectImg.astro";

const { frontmatter } = Astro.props;
---
<BaseLayout title={frontmatter.title}>
    <Hero slot="hero">
        <img slot="image" src={frontmatter.heroImage.url} alt={frontmatter.heroImage.alt} class="object-cover w-full" />
        <h1 slot="title" class="text-5xl font-bold font-wixdisplay tracking-tight text-balance text-pale-slate sm:text-3xl">
            {frontmatter.title}</h1>
        <h2 slot="subtitle" class="text-5xl font-wixdisplay tracking-tight text-balance text-slate-90 sm:text-3xl">
            {frontmatter.subtitle}</h2>
    </Hero>
    <div slot="main" class="px-32 text-lg text-gray-700 dark:text-gray-300">
        <p class="mb-4">{frontmatter.pubDate.toLocaleDateString()}</p>
        <slot />
    </div>
</BaseLayout>